<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookmarks">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Bookmarks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
